*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */
body{
    font-family: "Open Sans", sans-serif;
}

/* HEADER */
#main-header{
    height: 900px;
    background-color: rgb(180, 208, 231);
}

#main-header nav{
    background-color: white;
    height: 80px;
    padding: 0 10px;
    position: fixed;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-nav{
    height: 100%;
    width: 40%;
    /* debug */
    background-color: yellow;
}

.header-nav div{
    display: inline-block;
    height: 100%;
    padding: 25px;
    text-align: center;
    margin-right: 10px;
    
    /* debug */
    border: 2px solid red;
}

#nav-sx{
    text-align: right;
    margin-right: 0;
    margin-left: 10px;
}

.header-nav img{
    vertical-align: middle;
    margin-right: 5px;
}

/* formattazione generale bottoni */
.push-button{
    background-color: rgb(55, 124, 253);
    color: white;
    padding:5px 15px;
    border: none;
    font-size: 16px;
}

/* formattazione panoramica header */
.header-footer-width{
    padding-top: 120px;
    width: 70%;
    margin: 0 auto;
    /* debug */
    height: 750px;
}

#title{
    width: 95%;
    height: 200px;
    margin-bottom: 30px;
    /* debug */
    background-color: aquamarine;
}

#title h1{
    font-size: 70px;
}

.preview{
    display: flex;
}

.description{
    width: 40%;
    /* debug */
    height: 500px;
    border: 2px solid black;
}

.pic{
    width: 60%;
    /* debug */
    height: 500px;
    border: 2px solid green;
}

.pic img{
    max-height: 100%;
}

/* MAIN */
/* dimensioni corpo pagina */
.container{
    width: 60%;
    margin: 60px auto;
    /* debug */
    height: 2500px;
    background-color: cadetblue;
}

section h2{
    font-size: 40px;
}

/* formattazione scelta fatturazione */
.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    vertical-align: middle;
    border-radius: 50%;
}

#checked{
    border: 4px solid rgb(55, 124, 253);
}

#selection span{
    vertical-align: middle;
}

#selection{
    margin: 40px 0;
}

/* formattazione sezione business */
#business{
    display: flex;
    justify-content: space-between;
    /* debug */
    height: 1000px;
    background-color: darkgreen;
}

#business .col{
    width: 30%;
    /* debug */
    height: 800px;
    border: 2px solid yellow;
}

.col div{
    padding: 20px;
    width: 100%;
    /* debug */

}

.cell{
    border: 2px solid gray;
}

.cell span{
    display: inline-block;
    margin-top: 20px;
}

.cell div{
    padding: 0;
}
