*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */
body{
    font-family: "Open Sans", sans-serif;
}

/* HEADER */
#main-header{
    height: 850px;
    background-color: rgb(180, 208, 231);
}

.header-nav{
    height: 100%;
    width: 40%;
    /* debug */
    background-color: yellow;
}

#main-header nav{
    background-color: white;
    padding: 0 10px;
    position: fixed;
    z-index: 900;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.header-nav div{
    display: inline-block;
    height: 100%;
    padding: 25px;
    text-align: center;
    margin-right: 10px;
    
    /* debug */
    border: 2px solid red;
}

#nav-sx{
    text-align: right;
    margin-right: 0;
    margin-left: 10px;
}

.header-nav img{
    vertical-align: middle;
    margin-right: 5px;
}

/* formattazione generale bottoni */
.push-button{
    background-color: rgb(55, 124, 253);
    color: white;
    border: none;
    font-size: 16px;
    padding: 15px 30px;
}

/* formattazione panoramica header */
.header-footer-width{
    max-width: 1500px;
    margin: 0 auto;
}

#jumbotron{
    padding-top: 120px;
}
#jumbotron h1{
    font-size: 70px;
    margin-bottom: 30px;
    /* debug */
    background-color: aquamarine;
}

.preview{
    display: flex;
    height: 550px;
    border: 2px solid red;
    position: relative;
}

.col-40{
    width: 40%;
    /* debug */
    height: 500px;
    border: 2px solid black;
}

.col-60{
    width: 60%;
    /* debug */
    border: 2px solid salmon;
}

.pic{
    position: absolute;
    right: 0;
    bottom: 0;
    /* debug */
    height: 500px;
    border: 2px solid purple;
}

.col-60 img{
    max-height: 100%;
}

/* MAIN */
/* dimensioni corpo pagina */
.container{
    max-width: 1400px;
    margin: 140px auto;
    /* debug */
    background-color: cadetblue;
}

section h2{
    font-size: 30px;
}

/* PRIMA SEZIONE */
/* formattazione scelta fatturazione */
.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    vertical-align: middle;
    border-radius: 50%;
}

#checked{
    border: 4px solid rgb(55, 124, 253);
}

#selection span{
    vertical-align: middle;
}

#selection{
    margin: 40px 0;
}

/* formattazione sezione business */
.row{
    display: flex;
    justify-content: space-between;
    /* debug */
    background-color: darkgreen;
}

#row-plans{
    flex-wrap: wrap;
    align-items: stretch;
}


.col-25{
    width: 25%;
    border: 2px solid gray;
    border-top: 0;
}

.col-25 .cell{
    padding: 20px;
    border-top: 2px solid grey;
}

.col-25 .highlights{
    border-top: none;
}

.col-25 span{
    display: inline-block;
    margin-top: 20px;
}

.little-border{
    margin-left: 20px;
    width: 50px;
    height: 2px;
    background-color: grey;
}

li{
    margin: 15px 0;
    list-style: none;
}

li::before{
    font-family: FontAwesome;
    content: "\f00c";
    margin-right: 10px;
    color: rgb(55, 124, 253);
}

i{
    margin-right: 10px;
}

.cell button{
    margin-top: 20px;
}


/* formattazione bottoni per la sezione business */
.contact-button{
    margin: 0 32px;
}

#enterprise{
    margin-top: 60px;
    /* debug */
    height: 300px;
    background-color: darkgreen;
}

#icon{
    text-align: center;
    padding: 10px;
    margin-top: 60px;
    /* debug */
    background: cyan;
}

#team-plan{
    position: relative;
    margin-bottom: 200px;
}

#team-plan button{
    position: absolute;
    right: 30px;
    top: 30px;
}

#team-plan div{
    padding: 30px;
    /* debug */
    background-color: yellow;
}

#team-plan span{
    padding-top: 0;
    margin-bottom: 50px;
    font-weight: bold;
}

/* SECONDA SEZIONE */
.white-button{
    background-color: white;
    color: black;
    border: 2px solid black;
}

/* TERZA SEZIONE */
#actions{
    /* debug */
    margin: 200px 0;
    background-color: darkorchid;
}

#actions .cell{
    /* debug */
    height: 400px;
    background-color: pink;
}

.col-33{
    width: calc(100% / 3);
    /* debug */
    height: 700px;
    background-color: pink;
    border: 2px solid purple;
}

#actions .col-33 div{
    height: 50%;
    /* debug */
    border-bottom: 2px solid rebeccapurple;
}


/* QUARTA SEZIONE */
#customers{
    display: flex;
    /* debug */
    height: 700px;
    background-color: red;
}

#customers .col-33{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    width: 50%;
    /* debug */
    height: 50%;
    background-color: darkslateblue;
    border: 2px solid snow;
}

#company-info{
    overflow-y: auto;
}

/* DEBUG */
#company-info p{
    margin: 70px;
}

#free-trial-container{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

#free-trial{
    background-color: rgb(180, 208, 231);
}

#free-trial h2{
    color: rgb(97, 8, 43);
}



/* QUINTA SEZIONE */
.question-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 40px 0;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    position: relative;
    /* debug */
    background-color: darkseagreen;
}

#center{
    border: none;
}



/* FOOTER */
footer{
    background-color: black;
    color: white;
    /* debug */
    height: 700px;
}