*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */
body{
    font-family: "Open Sans", sans-serif;
}

/* HEADER */
#main-header{
    height: 900px;
    background-color: rgb(180, 208, 231);
}

#main-header nav{
    background-color: white;
    height: 80px;
    padding: 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-nav{
    height: 100%;
    width: 40%;
    /* debug */
    background-color: yellow;
}

.header-nav div{
    display: inline-block;
    height: 100%;
    padding: 25px;
    text-align: center;
    margin-right: 10px;
    
    /* debug */
    border: 2px solid red;
}

#nav-sx{
    text-align: right;
    margin-right: 0;
    margin-left: 10px;
}

.header-nav img{
    vertical-align: middle;
    margin-right: 5px;
}

/* formattazione generale bottoni */
.push-button{
    background-color: rgb(55, 124, 253);
    color: white;
    padding:5px 15px;
    border: none;
    font-size: 16px;
}

/* formattazione panoramica header */
.header-footer-width{
    background-color: white;
    width: 70%;
    margin: 40px auto;
    /* debug */
    height: 750px;
}

#title{
    width: 95%;
    height: 200px;
    margin-bottom: 30px;
    /* debug */
    background-color: aquamarine;
}

#title h1{
    font-size: 75px;
}

.preview{
    display: flex;
}

.description{
    width: 40%;
    /* debug */
    height: 500px;
    border: 2px solid black;
}

.pic{
    width: 60%;
    /* debug */
    height: 500px;
    border: 2px solid green;
}

.pic img{
    max-height: 100%;
}